#container {
	position: relative;
	height: 700px;
	background-color: #ccc;
}

.car {
	position: absolute;
	background-color: #333;
	width: 18px;
	height: 40px;
	border-radius: 2px;
	display: none;
}

.car.display {
	display: block;
}